@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-md-8 offset-md-2">
    <div class="row">
        <h1>Şifremi Unuttum</h1>
        <br />
        <br />
        <br />
        @if (TempData["ResetPasswordMessage"] != null)
        {
            <div class="alet alert-success mb-4" role="alert">
                @TempData["ResetPasswordMessage"]
            </div>
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <div class="mb-3">
                <label for="newpassword" class="form-label">NewPassword</label>
                <input type="password" asp-for=NewPassword class="form-control" id="newpassword">
            </div>
            <div class="mb-3">
                <label for="ConfirmNewPassword" class="form-label">ConfirmNewPassword</label>
                <input type="password" asp-for=ConfirmNewPassword class="form-control" id="ConfirmNewPassword">
            </div>




            <button type="submit" class="btn btn-primary">Şifre Sıfırla</button>
        </form>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


