@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}

<div class="col-md-8 offset-md-2">
    <div class="row">
        <h1>Giriş Yap</h1>
        <br />
        <br />
        <br />
        @if (TempData["SignInMessage"] != null)
        {
            <div class="alet alert-success mb-4" role="alert">
                @TempData["SignInMessage"]
            </div>
        }
        <form asp-controller="Auth" asp-action="SignIn" method="post">
            <div asp-validation-summary="ModelOnly" role="alert" class="text-danger"></div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" asp-for=UserName class="form-control" id="username" aria-describedby="emailHelp">
                @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" asp-for=Password class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for=RememberMe class="form-check-input" id="checkbox">
                <label class="form-check-label" for="checkbox">Beni Hatırla</label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
            <a class="btn btn-info" asp-action="GoogleLogin">Google ile giriş yap</a>
            <a asp-controller="Auth" asp-action="ForgotPassword">Şifremi Unuttum</a>
        </form>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}